body {
	margin: 0;
	padding: 0;
}

.auth {
	height: 100vh;
	background: #5286ec;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	background: #5cace0;
	color: #fff;
	padding: 8px 12px;
	border-radius: 15px;
	text-transform: uppercase;
}

.btn:hover {
	box-shadow: 0 0 8px 0;
	text-shadow:  0 0 3px;
}

.header {
	margin: 0;
	padding-right: 50px;
	color: #fff;
	transition: .4s ease-in-out;
}

.header:hover {
	text-shadow: 0 0 3px;
}
